/* Button | DropDownButton | ComboButton | ToggleButton
 * 
 * Styling Buttons mainly includes:
 * 
 * 1. Containers
 * 		.dijitButton
 * 		.dijitDropDownButton
 * 		.dijitComboButton
 * 		.dijitButtonNode - common button/arrow wrapper shared across all three button types 
 *
 * 2. Button text
 * 		.dijitButtonText
 * 
 * 3. Arrows - only for DropDownButton and ComboButton
 * 	     There are total four directions arrows - down, left, right, up:
 * 		.dijitArrowButtonInner - down arrow by default
 *      .dijitLeftArrowButton .dijitArrowButtonInner - left arrow
 *      .dijitRightArrowButton .dijitArrowButtonInner - right arrow
 *      .dijitUpArrowButton .dijitArrowButtonInner - up arrow
 * 
 * 4. States - Hover, Active, Disabled, e.g.
 * 		.dijitButtonHover .dijitButtonNode
 * 		.dijitButtonActive .dijitButtonNode
 * 		.dijitButtonDisabled .dijitButtonNode
 *      
 *      .dijitDisabled .dijitArrowButtonInner  - disabled arrow states 
 */

@import "../variables"

.umc
	.dijitButton,
	.dijitDropDownButton
		margin: 8px
		material-shadow-common()
		material-shadow(1)
		border-radius: $button-border-radius

		.dijitButtonNode
			border: none
			padding: 0px
			color: $text-color
			border-radius: $button-border-radius
			background-color: white
			transition: background-color 250ms

			.dijitButtonContents
				line-height: 36px

.umc
	.dijitButtonNode,
	.dijitSelect
		.dijitArrowButtonInner
			icon-image(-160, -20, "../")

		.dijitLeftArrowButton .dijitArrowButtonInner
			background-position: -200px -20px

		.dijitRightArrowButton .dijitArrowButtonInner
			background-position: -220px -20px

		.dijitUpArrowButton .dijitArrowButtonInner
			background-position: -180px -20px

.umc .dijitDisabled
	.dijitIcon,
	.dijitArrowButtonInner,
	.dijitButtonText
		opacity: 0.5 !important

.umc .dijitButtonText
	padding: 0 16px
	text-align: center
	font-size: $font-size-button
	color: $text-color-lighter
	font-weight: 500
	text-transform: uppercase

/* hover status */
.umc
	.dijitButtonHover,
	.dijitDropDownButtonHover
		.dijitButtonNode
			background-color: $button-hovered-background-color
			.dijitArrowButtonInner // TODO why
				opacity: 0.66

/* focused state */
.umc
	.dijitButtonFocused,
	.dijitDropDownButtonFocused
		.dijitButtonNode
			background-color: $button-hovered-background-color

/* active, checked status */
.umc
	.dijitButtonActive,
	.dijitDropDownButtonActive
		material-shadow(2)

		.dijitButtonNode
			background-color: $button-pressed-background-color

			.dijitArrowButtonInner // TODO can remove if opacity on hover is gone
				opacity: 1

/* disabled status */
.umc
	.dijitButtonDisabled,
	.dijitDropDownButtonDisabled
		box-shadow: none

		.dijitButtonNode
			background-color: $disabled-background-color
			color: $disabled-text-color



/* special for dijitDropDownButton */
.umc .dijitDropDownButton
	.dijitButtonText
		padding-right: 8px
	.dijitArrowButtonInner
		margin-right: 12px


// The syntax here is very deliberate so that the selectors in
// material-flat-button() and material-outlined-button() work properly
.umc .umcFlatButton
	&.dijitButton
		material-flat-button()

.umc .umcOutlinedButton
	&.dijitButton
		material-outlined-button()

/* colored buttons in the grid headers */
for category-color in users devices domain system software
	.umc .umcModule.color-{category-color}
		.umcGridHeader
			.dijitButtonHover,
			.dijitDropDownButtonHover,
			.dijitButtonFocused,
			.dijitDropDownButtonFocused
				.dijitButtonNode
					background-color: rgba(lookup('$category-color-' + category-color), $button-hovered-background-alpha) !important
			.dijitButtonActive,
			.dijitDropDownButtonActive
				.dijitButtonNode
					background-color: rgba(lookup('$category-color-' + category-color), $button-pressed-background-alpha) !important
			.dijitButtonDisabled,
			.dijitDropDownButtonDisabled
				.dijitButtonNode
					background-color: rgba(255, 255, 255, 0) !important
