// Special style for sites where the page itself should not scroll
// but only the components of the site e.g. Tree widgets.
// Only tested for search page of udm/navigation and search page of uvmm/uvmm

@import "variables"

.umcHeader
	z-index: 2
	border-bottom: 1px solid $grey-medium
	background-color: $grey-lightest

.umcHeader
	position: fixed
	top: 0
	left: 0
	right: 0

.umcMainTabContainer
	top: 48px

// TODO whitelist this for all modules
.umcGrid .dgrid
	height: auto
	max-height: 30em
	display: flex
	flex-direction: column
	.dgrid-scroller
		position: relative
		overflow-y: auto
		overflow-x: hidden
		// height: 100%

.umcGridTree .dgrid
	height: auto
	max-height: 30em
	display: flex
	flex-direction: column
	.dgrid-scroller
		position: relative
		overflow-y: auto
		overflow-x: hidden
		// height: 100%



@media (min-height: 750px)
	#umcTopContainer.scrollless-appcenter-appcenter, // scrollless basis
	#umcTopContainer.scrollless-appcenter-packages,
	#umcTopContainer.scrollless-appcenter-components,
	#umcTopContainer[class*=' scrollless-udm'],
	#umcTopContainer.scrollless-setup-certificate,
	#umcTopContainer.scrollless-setup-languages,
	#umcTopContainer.scrollless-setup-network,
	#umcTopContainer.scrollless-top,
	#umcTopContainer.scrollless-mrtg,
	#umcTopContainer.scrollless-services,
	#umcTopContainer.scrollless-ucr,
	#umcTopContainer.scrollless-diagnostic,
	#umcTopContainer.scrollless-updater
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0

		.umcHeader
			position: relative

		.umcMainTabContainer
			position: absolute
			top: 48px
			bottom: 0
			left: 0
			right: 0

			> .dijitStackContainerChildWrapper
				height: 100%

		.umcModule
			height: 100%
			display: flex // TODO wouldn't be needed if module header has fixed height. May be a performance consideration
			flex-direction: column

		.umcModuleWrapperWrapper
			min-height: 0
			height: 100%

	// TODO this could theoretically be put into 'basis'
	// scrollless: fixed module header
	#umcTopContainer.scrollless-appcenter-appcenter, // migrate into basis
	#umcTopContainer.scrollless-appcenter-packages, // theoretically not needed if 'basis' and 'grid page' have same min-height (and also beside that not)
	#umcTopContainer.scrollless-appcenter-components,
	#umcTopContainer[class*=' scrollless-udm'],
	#umcTopContainer.scrollless-setup-certificate,
	#umcTopContainer.scrollless-setup-languages,
	#umcTopContainer.scrollless-setup-network,
	#umcTopContainer.scrollless-mrtg,
	#umcTopContainer.scrollless-diagnostic,
	#umcTopContainer.scrollless-updater,
	#umcTopContainer.scrollless-top
		.umcModuleHeader
			position: relative
			z-index: 1
		.umcModule.scrollIsNotAtTop .umcModuleHeader
			border-bottom: 1px solid $grey-medium

		.umcModuleWrapperWrapper
			overflow-y: auto
			overflow-x: hidden

	// TODO this has duplicated style with UDM. find a basis
	// scrollless: basic page with one main grid
	@media (min-height: 750px) and (min-width: $xs-min)
		#umcTopContainer.scrollless-appcenter-packages,
		#umcTopContainer.scrollless-top,
		#umcTopContainer.scrollless-services,
		#umcTopContainer.scrollless-ucr
			.umcGrid .dgrid
				max-height: none
			.umcGridTree .dgrid
				max-height: none

			.umcModuleWrapper,
			.umcModuleContent,
			.umcModuleContentChildWrapper,
			.umcPage
				height: 100%

			.umcPage
				display: flex
				&.umcPage-fullWidth
					flex-direction: column

				.umcPageNav
					flex: 1 0 auto // prevent shrinking
					padding-bottom: 16px
					margin-bottom: 8px
				&.umcPage-fullWidth .umcPageNav
					padding-bottom: 0

				.umcPageMain
					height: 100%
					padding-bottom: 16px

				.umcPageFooter
					display: none

				.umcGrid
					max-height: 100%
					display: flex
					flex-direction: column

	@media (min-height: 750px)
		#umcTopContainer[class*=' scrollless-udm'].scrollless-udm-searchpage
			.umcGrid .dgrid
				max-height: none

			.umcGridTree .dgrid
				max-height: none

			.umcModuleWrapper,
			.umcModuleContent,
			.umcModuleContentChildWrapper,
			.umcUDMSearchPage
				height: 100%

			.umcUDMSearchPage
				display: flex
				&.umcPage-fullWidth
					flex-direction: column

				.umcPageNav
					flex: 1 0 auto // prevent shrinking
					padding-bottom: 16px
				&.umcPage-fullWidth .umcPageNav
					padding-bottom: 0

				.umcPageMain
					width: 100%
					height: 100%
					padding-bottom: 16px

				.umcPageFooter
					display: none

				.umcGrid
					max-height: 100%
					display: flex
					flex-direction: column

				.umcGridTree
					max-height: 100%
					display: flex
					flex-direction: column

					.dgrid
						height: 100%
						display: flex
						flex-direction: column

					.dgrid-scroller
						height: 100%
						overflow-y: auto

		@media (max-width: $sm-max)
			#umcTopContainer[class*=' scrollless-udm'].scrollless-udm-searchpage.scrollless-udm-navigation
				.umcGrid .dgrid
					max-height: 30em

				.umcGridTree .dgrid
					max-height: 30em

				.umcModuleWrapper,
				.umcModuleContent,
				.umcModuleContentChildWrapper,
				.umcUDMSearchPage
					height: auto

				.umcUDMSearchPage
					flex-direction: column


	@media (min-width: $md-min)
		#umcTopContainer[class*=' scrollless-udm']
			.umcUDMDetailPage,
			.umcUDMDetailForm,
			.umcUDMDetailForm > div,
			.umcUDMDetailForm > div > div,
			.umcUDMDetailForm > div > div > div
			.umcUDMDetailForm .umcPage
				height: 100%

			.umcUDMDetailPage
				.umcPageMain
					overflow-y: auto

		#umcTopContainer.scrollless-udm-navigation
			.umcUDMSearchPage
				.umcPageMain
					display: flex
					flex-direction: column

	@media (min-width: $sm-min)
		.notnow.scrollless-overview
			#umcOverviewPage
				height: 100%

				.umcPageMain
					height: 100%

					display: flex
					flex-direction: column

					.umcOverviewPane
						// min-height: 0% // TODO firefox?
						height: 100%
						transition: background-color 0.2s, box-shadow 0.2s

						&.umcOverviewPaneOverflown
							material-shadow(1)
							background-color: rgba(0, 0, 0, 0.02)

				.umcPageFooter // TODO move to Page.js noFooter boolean or main.js OverviewPage creation
					display: none
